<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  <title>Réinitialisation du mot de passe</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body leftmargin="0" topmargin="0">

  <table bgcolor="#FFF" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <table align="center" width="590" border="0" cellpadding="0" cellspacing="0">
            <tbody>

              <tr>
                <td height="30" style="font-size:30px; line-height: 30px;">
                  &nbsp;
                </td>
              </tr>

              <tr>
                <td height="30" style="font-size:30px; line-height: 30px;">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td align="center" style="font-family: 'Roboto', Helvetica, sans-serif; font-size:35px; text-align: center; color: #11998E; mso-line-height-rule: exactly; line-height: 25px;">
                  Votre lien de réinitialisation de mot de passe.
                </td>
              </tr>
              <tr>
                <td height="30" style="font-size:30px; line-height: 30px;">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td align="center" style="font-family: 'Roboto', Helvetica, sans-serif; text-align: center; color: #000; mso-line-height-rule: exactly; line-height: 30px;">
                  Bonjour {{ email }} !</br> 
                  Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe.
                </td>
              </tr>
              <tr>
                <td height="30" style="font-size:30px; line-height: 30px;">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td align="center">
                  <table align="center" width="240" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td align="center" height="60" style="border-radius: 100px; background: linear-gradient(#38EF7D, #11998E);">
                          <a href={{ url }} style="font-family: 'Roboto', Helvetica, sans-serif; font-size:20px; font-weight: 400; text-align: center; color: #000; text-decoration: none;">
                            Réinitialiser mon mot de passe
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="30" style="font-size:30px; line-height: 30px;">
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
